<aside id="leftSidebar"
    class="w-60 dark:bg-zinc-900 bg-white dark:text-gray-200 text-black transition-transform duration-200 transform">
    <div class="">
        <!-- <img src="https://raw.githubusercontent.com/neokd/NeoGPT/f04841e9afbac5bf426aca3619cd86a464da4932/docs/assets/dark.png" alt="logo" class="dark:block hidden bg-transparent">
            <img src="https://raw.githubusercontent.com/neokd/NeoGPT/f04841e9afbac5bf426aca3619cd86a464da4932/docs/assets/light.png" alt="logo" class="dark:hidden visible"> -->

        <div class="flex items-center justify-center">
            <h1 class="text-4xl dark:text-gray-200 my-4 font-bold text-cente">NeoGPT</h1>
        </div>
    </div>
    <div class="flex flex-col items-start justify-start mx-4">
            <button id="clearChatButton" class="outline outline-1  rounded-lg p-2 w-full">Clear Chat</button>
    </div>
</aside>