<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGPT Playground</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons()
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

</head>

<body class="bg-gray-50 dark:bg-zinc-950  ">

    <!-- <nav class="bg-white dark:bg-[#131213] w-full border-b border-gray-500 shadow-lg flex flex-row justify-between px-8 py-3 dark:text-gray-100">
        <div class="">
            <div>
                <a class="text-2xl font-bold " href="#">NeoGPT Playground</a>
            </div>
        </div>
        <div class="">
            <button id="theme-toggle" type="button"
                class="text-gray-500 dark:text-gray-400 focus:outline-none text-sm p-2.5">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

    </nav> -->

    <main class="flex h-svh flex-1 flex-col lg:flex-row">



            <div class="flex flex-row w-full ">
                <div class="flex flex-col w-1/3 h-2/3 ">
                    <!-- System message -->
                    <div class="bg-gray-200 p-4 ">
                        <h1 class="text-2xl font-semibold mb-4">System Message</h1>
                        <!-- Add your system message content here -->
                    </div>
                </div>
                <div class="flex flex-col w-2/3 relative ">
                    <div class="bg-gray-200 p-4  relative w-full h-5/6  flex-1">
                        <h1 class="text-2xl font-semibold mb-4">Chat</h1>
                        <div class="flex flex-col max-h-96">
                            <ul id="messages-list" class="overflow-y-auto flex-1"></ul>
                        
                        </div>

                    </div>

                    <form id="chat-form" class="dark:bg-[#242525] border-gray-700 w-full">
                        <div class="flex">
                            <input type="text" id="user-message" placeholder="Chat with NeoGPT..."
                                class="flex-grow px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500 bg-transparent">
                            <button type="submit"
                                class="ml-2 outline outline-purple-500 px-4 py-2 rounded-md hover:bg-purple-600 transition-colors duration-300">Send</button>
                        </div>
                    </form>
                </div>
            </div>






        </div>

    </main>


    <script>
        var themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon");
        var themeToggleLightIcon = document.getElementById("theme-toggle-light-icon");

        // Change the icons inside the button based on previous settings
        if (
            localStorage.getItem("color-theme") === "dark" ||
            (!("color-theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            themeToggleLightIcon.classList.remove("hidden");
        } else {
            themeToggleDarkIcon.classList.remove("hidden");
        }

        var themeToggleBtn = document.getElementById("theme-toggle");

        themeToggleBtn.addEventListener("click", function () {
            // Toggle icons inside button
            themeToggleDarkIcon.classList.toggle("hidden");
            themeToggleLightIcon.classList.toggle("hidden");

            // If set via local storage previously
            if (localStorage.getItem("color-theme")) {
                if (localStorage.getItem("color-theme") === "light") {
                    document.documentElement.classList.add("dark");
                    localStorage.setItem("color-theme", "dark");
                } else {
                    document.documentElement.classList.remove("dark");
                    localStorage.setItem("color-theme", "light");
                }

                // If NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains("dark")) {
                    document.documentElement.classList.remove("dark");
                    localStorage.setItem("color-theme", "light");
                } else {
                    document.documentElement.classList.add("dark");
                    localStorage.setItem("color-theme", "dark");
                }
            }
        });
    </script>

    <script type="module">
        import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
        const chatForm = document.getElementById('chat-form');
        const userMessageInput = document.getElementById('user-message');
        let previousHistory = ''; // Variable to store the previous history

        chatForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userMessage = userMessageInput.value;
            console.log(userMessage);
            userMessageInput.value = '';

            await chatLLM(userMessage);
        });


        // Function to render Markdown text
        const renderMarkdown = (text) => {
            return marked(text);
        };
        // Update the updateStreamResponse function to render Markdown
        const updateStreamResponse = (response) => {
            const messagesList = document.getElementById('response-list');
            const listItem = messagesList.lastElementChild || document.createElement('li');
            messagesList.innerHTML = '';
            // Append response to the existing list item's text content
            listItem.textContent += response;

            if (!messagesList.contains(listItem)) {
                messagesList.appendChild(listItem);
            }
            messagesList.scrollTop = messagesList.scrollHeight;
        };


        // Update the updateMessages function to render Markdown
        const updateMessages = (history) => {
            const messagesList = document.getElementById('messages-list');
            const terminalList = document.getElementById('terminal-list');
            const systemPrompt = document.getElementById('system-prompt');

            // Clear previous messages
            messagesList.innerHTML = '';

            // Create a grid container for each message
            history.forEach(message => {
                if (message.role !== "system") {
                    const listItem = document.createElement('li');
                    listItem.classList.add('message-item', 'grid', 'grid-cols-5', 'mb-2', 'p-2', 'rounded-md');

                    listItem.classList.add(message.role === 'user' ? 'bg-purple-500' : 'dark:bg-gray-800');

                    // Role column (20% width)
                    const roleColumn = document.createElement('div');
                    roleColumn.classList.add('font-bold', 'col-span-1', 'dark:text-white');
                    roleColumn.textContent = message.role.toUpperCase() + ': ';

                    // Content column (80% width)
                    const contentColumn = document.createElement('div');
                    contentColumn.classList.add('col-span-4', 'text-white');
                    contentColumn.innerHTML = renderMarkdown(message.content); // Render content as Markdown

                    listItem.appendChild(roleColumn);
                    listItem.appendChild(contentColumn);

                    if (message.role === 'terminal') {
                        terminalList.innerHTML = '';
                        terminalList.appendChild(listItem); // Append only the latest message
                    } else {
                        messagesList.appendChild(listItem);
                    }
                } else {
                    systemPrompt.value = message.content;
                }
            });
            messagesList.lastElementChild.scrollIntoView();
        };




        const chatLLM = async (userMessage) => {

            // Remove the stream response list
            const messagesList = document.getElementById('response-list');
            messagesList.innerHTML = '';

            try {
                const response = await fetch('/v1/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: userMessage })
                });


                const reader = response.body.getReader();
                let partialMessage = '';
                while (true) {
                    const { done, value } = await reader.read();
                    if (done) {
                        break;
                    }
                    const chunk = new TextDecoder().decode(value);
                    partialMessage += chunk;
                    if (partialMessage.includes('\n')) {
                        const messages = partialMessage.split('\n');
                        partialMessage = messages.pop();
                        for (const message of messages) {
                            if (message) {
                                const parsedMessage = JSON.parse(message);
                                if (parsedMessage.content) {
                                    updateStreamResponse(parsedMessage.content);

                                }
                                if (parsedMessage.history) {
                                    updateMessages(parsedMessage.history);
                                }
                            }
                        }
                    }
                }
                console.log(response);
            } catch (error) {
                console.error('Error fetching chat:', error);
            }
        };


        // Add event listener to system prompt form
        const systemPromptForm = document.getElementById('system-prompt-form');
        const updateSystemPromptButton = document.getElementById('update-system-prompt');

        systemPromptForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const newSystemPrompt = document.getElementById('system-prompt').value;

            try {
                const response = await fetch('/v1/update/system-message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ content: newSystemPrompt })
                });

                if (response.ok) {
                    // Update system prompt
                    systemPrompt.value = newSystemPrompt;
                } else {
                    console.error('Failed to update system prompt:', response.statusText);
                }
            } catch (error) {
                console.error('Error updating system prompt:', error);
            }
        });

        // Alternatively, you can also trigger the update on button click
        updateSystemPromptButton.addEventListener('click', async () => {
            // Trigger form submission
            systemPromptForm.dispatchEvent(new Event('submit'));
        });

    </script>
</body>

</html>