auto-gptq==0.3.2
chromadb==0.4.14
colorama==0.4.6
faiss-cpu==1.7.4
google-api-python-client==2.105.0
html2text==2020.1.16
huggingface-hub==0.17.3
InstructorEmbedding==1.0.1
langchain==0.0.317
llama_cpp_python==0.2.11
pdfminer.six==20221105
python-dotenv==1.0.0
pytube==15.0.0
rank-bm25==0.2.2
sentence-transformers==2.2.2
torch==2.1.0
transformers==4.34.1
unstructured==0.10.25
youtube-transcript-api==0.6.1
