pdfminer-six==2023.12.28
colorama==0.4.6
langchain==0.1.0
youtube-transcript-api==0.6.2
pytube==15.0.0
streamlit==1.29.0
unstructured==0.11.8 
torch==2.1.2
duckduckgo-search==4.1.1
llama-cpp-python==0.2.27
google-api-python-client==2.95.0
faiss-cpu==1.7.4
chromadb==0.4.22
rank-bm25==0.2.2
html2text==2020.1.16
openai==1.6.1
langchain-experimental==0.0.42
langchain-community==0.0.13
langchain-openai==0.0.2
rich==13.7.0
sentence-transformers==2.2.2
instructorembedding==1.0.1
